<a href="https://colab.research.google.com/github/yc-chen10/113-1-finance/blob/main/week13%E4%BD%9C%E6%A5%AD_%E5%9F%BA%E5%9B%A0%E6%BC%94%E7%AE%97%E6%B3%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 發送 HTTP 請求以獲取網路上的資料
import requests

# 用來處理和分析結構化數據
import pandas as pd

# 用來處理時間
import datetime as dt

import time

import numpy as np
import random

####抓股票資料

2330
2454
2303
3711
3034
2379

In [ ]:
# "一詮"股票代號
stock_id = '2486'

# 獲取今天的日期（型別：str）
date = dt.date.today().strftime("%Y%m%d")
# date = yyyymmdd

print('今日日期：', date)

# 取得證交所網站資料，帶入網址參數 date：時間，stock_id：股票代號
# https://www.twse.com.tw/rwd/zh/afterTrading/STOCK_DAY?date=20240923&stockNo=2486
stock_data = requests.get(f'https://www.twse.com.tw/rwd/zh/ \
            afterTrading/STOCK_DAY?date={date}&stockNo={stock_id}')

# 將結果轉換 JSON 格式
json_data = stock_data.json()

# 將 JSON 格式轉換爲 Dataframe 格式，
# 方便在 Python 中處理結構化資料
df = pd.DataFrame(data=json_data['data'],
                  columns=json_data['fields'])

df.head()

今日日期： 20241210

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,113/12/02,"4,380,182","484,081,055",111.00,112.00,109.00,110.50,+1.00,"2,642"
1,113/12/03,"20,118,123","2,388,317,316",112.00,121.50,112.00,120.50,+10.00,"11,597"
2,113/12/04,"20,279,814","2,424,225,272",121.00,123.00,117.00,118.50,-2.00,"16,735"
3,113/12/05,"24,214,277","2,969,634,843",120.00,124.50,119.00,122.50,+4.00,"14,458"
4,113/12/06,"11,255,798","1,342,014,582",122.00,122.50,117.50,117.50,-5.00,"6,990"

#### def function

In [ ]:
def get_stock_data(stock_no, year, month):
    # 將日期格式化為 'yyyymmdd'，並指定為該月份的第一天
    date = f"{year}{str(month).zfill(2)}01"
    url = f"https://www.twse.com.tw/rwd/zh/afterTrading/STOCK_DAY?date={date}&stockNo={stock_no}"

    # 發送HTTP請求並獲取響應
    response = requests.get(url)
    #休息保護 避免被當成攻擊
    time.sleep(1)
    if response.status_code == 200:
        try:
            # 將結果轉換為JSON
            data = response.json()
            if data['stat'] == 'OK':
                # 返回數據中的每日交易資料
                return pd.DataFrame(data['data'], columns=data['fields'])
            else:
                print(f"No data for {year}-{month}, stat: {data.get('stat', 'N/A')}")
                return None
        except requests.exceptions.JSONDecodeError:
            print(f"Invalid JSON response for {year}-{month}. Response content: {response.content}")
            return None
    else:
        print(f"Failed to fetch data for {year}-{month}")
        return None

In [ ]:
def get_multiple_months(stock_no, start_year, start_month, end_year, end_month):
    all_data = []

    # 循環通過年份和月份來調用API
    current_year = start_year
    current_month = start_month

    while (current_year < end_year) or (current_year == end_year and current_month <= end_month):
        # 獲取單月的股票資料
        monthly_data = get_stock_data(stock_no, current_year, current_month)
        if monthly_data is not None:
            all_data.append(monthly_data)

        # 更新到下一個月份
        if current_month == 12:
            current_month = 1
            current_year += 1
        else:
            current_month += 1

    # 合併所有月份的數據
    if all_data:
        return pd.concat(all_data, ignore_index=True)
    else:
        return None

#### 抓資料 main程式

In [ ]:
# 股票代號列表
stock_ids = ['2330', '2454', '2303', '3711', '3034', '2379']
start_year, start_month, end_year, end_month = 2023, 11, 2024, 11

# 取得所有股票的歷史收盤價資料
stock_data = {}
for stock_no in stock_ids:
    stock_data[stock_no] = get_multiple_months(stock_no, start_year, start_month, end_year, end_month)

In [ ]:
stock_data

{'2330':             日期        成交股數            成交金額       開盤價       最高價       最低價  \
 0    112/11/01  14,028,881   7,432,561,094    533.00    533.00    527.00
 1    112/11/02  31,075,778  16,846,430,251    536.00    547.00    535.00
 2    112/11/03  16,673,456   9,129,495,705    547.00    549.00    545.00
 3    112/11/06  31,297,186  17,321,453,879    553.00    556.00    550.00
 4    112/11/07  16,990,175   9,406,486,499    552.00    555.00    550.00
 ..         ...         ...             ...       ...       ...       ...
 258  113/11/25  54,443,912  56,293,841,760  1,045.00  1,050.00  1,030.00
 259  113/11/26  31,309,332  31,750,783,325  1,015.00  1,020.00  1,010.00
 260  113/11/27  34,602,143  34,822,499,480  1,010.00  1,020.00  1,000.00
 261  113/11/28  37,166,049  37,181,706,464  1,005.00  1,005.00    992.00
 262  113/11/29  43,621,329  43,637,043,385    995.00  1,010.00    994.00

           收盤價    漲跌價差     成交筆數
 0      528.00   -1.00   15,452
 1      547.00  +19.00   32,075
 2      549.00   +2.00   17,911
 3      550.00   +1.00   32,684
 4      555.00   +5.00   15,356
 ..        ...     ...      ...
 258  1,030.00  -10.00   34,710
 259  1,010.00  -20.00   79,568
 260  1,000.00  -10.00  111,382
 261  1,005.00   +5.00   82,426
 262    996.00   -9.00   47,567

 [263 rows x 9 columns],
 '2454':             日期        成交股數            成交金額       開盤價       最高價       最低價  \
 0    112/11/01   6,970,553   5,891,819,996    854.00    856.00    832.00
 1    112/11/02  10,079,016   8,749,273,451    863.00    877.00    855.00
 2    112/11/03   5,808,935   5,051,786,196    872.00    876.00    864.00
 3    112/11/06   7,492,650   6,620,945,849    879.00    890.00    873.00
 4    112/11/07   7,289,254   6,483,453,992    890.00    899.00    879.00
 ..         ...         ...             ...       ...       ...       ...
 258  113/11/25   7,734,600  10,046,168,660  1,325.00  1,330.00  1,280.00
 259  113/11/26   3,272,636   4,185,567,280  1,280.00  1,290.00  1,270.00
 260  113/11/27   3,069,870   3,882,721,705  1,270.00  1,285.00  1,250.00
 261  113/11/28   4,374,911   5,459,813,114  1,260.00  1,265.00  1,240.00
 262  113/11/29   4,324,490   5,418,649,990  1,235.00  1,270.00  1,225.00

           收盤價    漲跌價差    成交筆數
 0      846.00   +4.00   9,019
 1      868.00  +22.00  16,158
 2      870.00   +2.00   8,826
 3      882.00  +12.00  12,011
 4      888.00   +6.00  12,458
 ..        ...     ...     ...
 258  1,280.00  -30.00   8,760
 259  1,280.00    0.00   5,069
 260  1,250.00  -30.00   7,171
 261  1,255.00   +5.00   6,775
 262  1,255.00    0.00   5,275

 [263 rows x 9 columns],
 '2303':             日期        成交股數           成交金額    開盤價    最高價    最低價    收盤價   漲跌價差  \
 0    112/11/01  32,897,484  1,543,297,255  46.50  47.20  46.35  47.00  +0.80
 1    112/11/02  52,322,405  2,511,553,301  47.90  48.30  47.60  48.25  +1.25
 2    112/11/03  81,667,457  4,005,557,862  48.80  49.40  48.50  49.40  +1.15
 3    112/11/06  60,698,113  3,008,284,524  50.00  50.10  49.20  49.40   0.00
 4    112/11/07  32,651,776  1,601,338,495  49.10  49.40  48.80  49.40   0.00
 ..         ...         ...            ...    ...    ...    ...    ...    ...
 258  113/11/25  77,140,885  3,473,635,047  45.10  45.45  44.90  44.90  +0.45
 259  113/11/26  42,091,454  1,906,011,676  44.80  45.70  44.60  45.40  +0.50
 260  113/11/27  89,385,803  3,965,087,977  44.85  44.90  43.95  44.40  -1.00
 261  113/11/28  84,388,891  3,671,257,090  43.95  44.10  43.00  43.90  -0.50
 262  113/11/29  66,391,636  2,896,668,773  43.90  44.10  43.25  43.55  -0.35

        成交筆數
 0    15,078
 1    21,493
 2    35,210
 3    28,598
 4    13,778
 ..      ...
 258  16,610
 259  15,740
 260  47,277
 261  37,776
 262  23,914

 [263 rows x 9 columns],
 '3711':             日期        成交股數           成交金額     開盤價     最高價     最低價     收盤價  \
 0    112/11/01   7,736,360    883,379,261  113.00  115.00  113.00  114.50
 1    112/11/02   8,352,773    965,538,317  115.00  116.00  114.50  116.00
 2    112/11/03   9,529,354  1,113,050,125  116.50  117.50  116.00  117.50
 3    112/11/06  13,806,296  1,637,903,280  118.50  119.50  117.50  118.50
 4    112/11/07   6,978,576    818,317,880  118.00  118.50  116.50  117.50
 ..         ...         ...            ...     ...     ...     ...     ...
 258  113/11/25  11,487,835  1,802,034,668  158.00  158.50  156.00  156.00
 259  113/11/26   7,976,775  1,237,485,625  155.00  156.00  154.50  155.00
 260  113/11/27  13,087,074  1,989,161,810  154.50  155.00  150.50  150.50
 261  113/11/28  17,410,032  2,572,468,473  151.00  151.50  146.00  147.00
 262  113/11/29  11,717,231  1,764,559,901  146.50  152.50  146.00  151.50

       漲跌價差    成交筆數
 0    +1.00   3,829
 1    +1.50   4,951
 2    +1.50   4,340
 3    +1.00   7,327
 4    -1.00   3,241
 ..     ...     ...
 258  -0.50   6,791
 259  -1.00   4,413
 260  -4.50   8,569
 261  -3.50  10,882
 262  +4.50   5,672

 [263 rows x 9 columns],
 '3034':             日期        成交股數           成交金額     開盤價     最高價     最低價     收盤價  \
 0    112/11/01  11,496,464  5,356,056,458  457.00  470.50  455.00  470.00
 1    112/11/02   9,271,283  4,443,468,014  476.00  485.00  471.00  485.00
 2    112/11/03   4,453,936  2,145,476,098  486.00  487.00  478.00  478.00
 3    112/11/06   8,462,890  4,173,896,730  485.50  499.50  481.00  496.00
 4    112/11/07   6,238,087  3,105,257,776  493.50  504.00  491.50  499.00
 ..         ...         ...            ...     ...     ...     ...     ...
 258  113/11/25   5,787,069  2,848,358,363  486.00  495.50  486.00  491.00
 259  113/11/26   2,597,375  1,265,916,565  489.00  494.50  483.50  483.50
 260  113/11/27   2,353,761  1,134,895,476  486.00  487.00  478.50  481.50
 261  113/11/28   2,596,010  1,248,486,804  482.00  484.00  477.00  483.00
 262  113/11/29   2,550,789  1,236,461,341  480.00  489.00  477.00  484.00

        漲跌價差    成交筆數
 0    +15.50  12,043
 1    +15.00  11,420
 2     -7.00   5,781
 3    +18.00  10,180
 4     +3.00   7,434
 ..      ...     ...
 258  +11.00   4,357
 259   -7.50   3,558
 260   -2.00   3,698
 261   +1.50   3,371
 262   +1.00   2,475

 [263 rows x 9 columns],
 '2379':             日期       成交股數           成交金額     開盤價     最高價     最低價     收盤價  \
 0    112/11/01  1,342,998    544,736,625  403.50  408.00  401.00  405.50
 1    112/11/02  1,737,694    708,687,705  410.00  413.00  405.50  408.00
 2    112/11/03  1,901,222    773,250,242  408.50  411.00  404.00  405.50
 3    112/11/06  2,000,492    821,592,096  409.50  414.00  407.00  410.50
 4    112/11/07  1,430,883    581,651,573  411.00  411.00  404.00  406.00
 ..         ...        ...            ...     ...     ...     ...     ...
 258  113/11/25  2,644,530  1,297,224,091  490.00  497.00  488.00  488.00
 259  113/11/26  2,025,404    983,083,472  486.00  495.00  481.50  481.50
 260  113/11/27  1,386,215    665,762,595  485.00  485.00  477.50  477.50
 261  113/11/28  2,085,601    986,443,422  480.00  480.00  468.50  471.50
 262  113/11/29  2,105,815  1,002,142,801  472.00  480.50  468.00  476.00

       漲跌價差   成交筆數
 0    +4.00  1,381
 1    +2.50  1,863
 2    -2.50  2,070
 3    +5.00  2,187
 4    -4.50  1,638
 ..     ...    ...
 258  +3.50  2,084
 259  -6.50  2,712
 260  -4.00  1,897
 261  -6.00  2,700
 262  +4.50  1,893

 [263 rows x 9 columns]}

In [ ]:
for stock_key, data in stock_data.items():
    if data is not None:  # 檢查資料是否為有效 DataFrame
        print(f"Stock {stock_key}:")
        #print(data.head())  # 檢查每支股票的前幾筆資料
    else:
        print(f"Stock {stock_key} contains no data.")

Stock 2330:
Stock 2454:
Stock 2303:
Stock 3711:
Stock 3034:
Stock 2379:

In [ ]:
original_data = stock_data.copy()

#### 時間格式轉換def

In [ ]:
def convert_minguo_to_ad(date_str):
    # 113/09/10 透過「/」分割成清單 [113, 09, 10]
    # 分配給變數 year=113, month=09, day=10
    year, month, day = date_str.split('/')
    ad_year = int(year) + 1911  # 將民國年轉換為西元年
    return f"{ad_year}/{month}/{day}"

In [ ]:
for stock_key in stock_data:
    # 所有民國日期都轉西元日期 e.g.113/09/10 -> 2024/09/10
    stock_data[stock_key]['日期'] = stock_data[stock_key]['日期'].apply(convert_minguo_to_ad)
    # 轉換為 pandas 中的 datetime 格式
    stock_data[stock_key]['日期'] = pd.to_datetime(stock_data[stock_key]['日期'], format='%Y/%m/%d')

In [ ]:
stock_data['2330'].head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,2023-11-01,"14,028,881","7,432,561,094",533.00,533.00,527.00,528.00,-1.00,"15,452"
1,2023-11-02,"31,075,778","16,846,430,251",536.00,547.00,535.00,547.00,+19.00,"32,075"
2,2023-11-03,"16,673,456","9,129,495,705",547.00,549.00,545.00,549.00,+2.00,"17,911"
3,2023-11-06,"31,297,186","17,321,453,879",553.00,556.00,550.00,550.00,+1.00,"32,684"
4,2023-11-07,"16,990,175","9,406,486,499",552.00,555.00,550.00,555.00,+5.00,"15,356"

#### 轉數字 numeric

In [ ]:
for stock_key in stock_data:
    stock_data[stock_key]['收盤價'] = stock_data[stock_key]['收盤價'].apply(pd.to_numeric, errors='coerce')
    stock_data[stock_key]['開盤價'] = stock_data[stock_key]['開盤價'].apply(pd.to_numeric, errors='coerce')
    stock_data[stock_key]['最高價'] = stock_data[stock_key]['最高價'].apply(pd.to_numeric, errors='coerce')
    stock_data[stock_key]['最低價'] = stock_data[stock_key]['最低價'].apply(pd.to_numeric, errors='coerce')

In [ ]:
stock_data['2330'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      263 non-null    datetime64[ns]
 1   成交股數    263 non-null    object
 2   成交金額    263 non-null    object
 3   開盤價     215 non-null    float64
 4   最高價     211 non-null    float64
 5   最低價     219 non-null    float64
 6   收盤價     212 non-null    float64
 7   漲跌價差    263 non-null    object
 8   成交筆數    263 non-null    object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 18.6+ KB

#### 基因演算法

In [ ]:
# 計算每支股票的平均回報率和標準差
stock_metrics = {}
for stock_no, data in stock_data.items():
    data['回報率'] = data['收盤價'].pct_change()
    mean_return = data['回報率'].mean()
    risk = data['回報率'].std()
    stock_metrics[stock_no] = {'mean_return': mean_return, 'risk': risk}

<ipython-input-33-6fec9113f13e>:4: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  data['回報率'] = data['收盤價'].pct_change()
<ipython-input-33-6fec9113f13e>:4: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  data['回報率'] = data['收盤價'].pct_change()

In [ ]:


# 基因演算法設置
population_size = 20
num_generations = 50
mutation_rate = 0.1
chromosome_length = len(stock_ids)

In [ ]:
# 適應函數
def fitness_function(chromosome):
    selected_stocks = [stock_ids[i] for i, gene in enumerate(chromosome) if gene == 1]
    if not selected_stocks:
        return 0  # 避免全選 0
    portfolio_return = np.mean([stock_metrics[stock]['mean_return'] for stock in selected_stocks])
    portfolio_risk = np.mean([stock_metrics[stock]['risk'] for stock in selected_stocks])
    fitness = portfolio_return - 0.5 * portfolio_risk  # 風險厭惡係數
    return fitness

In [ ]:
# 初始化族群
population = [np.random.choice([0, 1], size=chromosome_length) for _ in range(population_size)]

In [ ]:



# 基因演算法主迴圈
for generation in range(num_generations):
    # 評估適應值
    fitness_values = [fitness_function(chromosome) for chromosome in population]

    # 選擇 (輪盤選擇)
    total_fitness = sum(fitness_values)
    probabilities = [f / total_fitness for f in fitness_values]
    selected_indices = np.random.choice(range(population_size), size=population_size, p=probabilities)
    new_population = [population[i] for i in selected_indices]

    # 交配
    next_generation = []
    for i in range(0, population_size, 2):
        parent1 = new_population[i]
        parent2 = new_population[(i + 1) % population_size]
        crossover_point = random.randint(1, chromosome_length - 1)
        child1 = np.concatenate([parent1[:crossover_point], parent2[crossover_point:]])
        child2 = np.concatenate([parent2[:crossover_point], parent1[crossover_point:]])
        next_generation.extend([child1, child2])

    # 突變
    for i in range(population_size):
        if random.random() < mutation_rate:
            mutation_point = random.randint(0, chromosome_length - 1)
            next_generation[i][mutation_point] = 1 - next_generation[i][mutation_point]

    population = next_generation

In [ ]:
# 最佳解
best_chromosome = max(population, key=fitness_function)
selected_stocks = [stock_ids[i] for i, gene in enumerate(best_chromosome) if gene == 1]

In [ ]:

# 輸出結果
print("最佳投資組合:")
print("選股:", selected_stocks)
print("預期回報率:", np.mean([stock_metrics[stock]['mean_return'] for stock in selected_stocks]))
print("預期風險:", np.mean([stock_metrics[stock]['risk'] for stock in selected_stocks]))

最佳投資組合:
選股: ['2330', '2303', '3034', '2379']
預期回報率: 0.0008870864755727547
預期風險: 0.01849865422538522